body {
  background-color: black;
  color: white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.hide {
  display: none;
}

.modal {
  background-color: yellow;
  border: 5px solid blue;
  color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 5px;
  width: 300px;
  transform: translate(-50%, -50%);
}

.btn {
  width: 200px;
  height: 50px;
  background-color: rgb(214, 211, 228);
  font-size: medium;
  margin-top: 20px;
}

button,
.btn :hover {
  cursor: pointer;
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */